.consultation {
    height: 508rem;
    background-color: #fff;
    background-image: url('../public/bg/bg-consultation.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    z-index: 2;

    &_title {
      font-family: 'Inter';
      font-weight: 700;
      font-size: 42rem;
      line-height: 130%;
      color: #fff;
      margin: 116rem 0 0 200rem;
    }

    &_description {
      font-family: 'Inter';
      font-weight: 500;
      font-size: 18rem;
      line-height: 140%;
      color: #fff;
      margin: 22rem 0 0 200rem;
    }

    &_form {
      margin: 67rem 0 0 200rem;
      display: flex;

      &_input {
        width: 555rem;
        height: 79rem;
        border: 1px solid #C9D5E8;
        border-radius: 10.8rem;
        padding-left: 16rem; 
        padding-top: 0rem;
        margin: 0 22rem 0 0 ;
        font-family: 'Inter';
        font-weight: 500;
        font-size: 18rem;
        line-height: 140%;
        color: #071737;

        &::placeholder {
          color: #859AB5;
        }
      }

      &_button {
        width: 323rem;
        height: 79rem;
        background: #071737;
        border-radius: 8rem; 
        border: none;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 22rem;
        line-height: 140%;
        color: #fff;
        margin: 0 36rem 0 0 ;

        &:hover {
          cursor: pointer;
          color: #FA9703;
          // background: linear-gradient(137.49deg, #ECD821 2.26%, #FA9703 49.98%, #DA6330 94.81%);
          // -webkit-background-clip: text;
          // -webkit-text-fill-color: transparent;
          // background-clip: text;
          // text-fill-color: transparent;
        }
      }

      &_icon {
        transform: translate(0rem, -40rem);
        width: 150rem;
      }
    }
}

@media screen and (max-width: 768px) {
  .consultation {
    height: 1170rem;
    background-image: url('../public/bg/bg-consultation-mobile.png');
    position: relative;
    &_title {
      font-size: 54rem;
      margin: 337rem 0 0 61rem;
    }
    &_description {
      font-size: 28rem;
      margin: 52rem 0 0 61rem;
      width: 500rem;
    }
    &_form {
      margin: 80rem 0 0 61rem;
      display: flex;
      flex-direction: column;

      &_input {
        width: 595rem;
        height: 100rem;
        border-radius: 12rem;
        padding-left: 25rem; 
        padding-top: 0rem;
        margin: 0;
        font-size: 24rem;

        &::placeholder {
          font-size: 31.5rem;
        }
      }

      &_button {
        width: 592rem;
        height: 100rem;
        border-radius: 10rem; 
        font-size: 30rem;
        margin: 42rem 0 0;
      }

      &_icon {
        // transform: translate(0rem, -945rem);
        width: 232rem;
        position: absolute;
        top: 50rem;
        left: 61rem;
        transform: translate(0rem, 0rem);
      }
    }
  }
}