.demo {
  width: 1602px;
  min-height: 700px;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__header {
    border: 1px solid grey;
    width: 100%;
    height: 300px;
  }
  &__heder_logo {
    border: 1px solid black;
    width: 200px;
    height: 70px;
  }
}

