.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0rem;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  // transition: opacity 0.5s, visibility 0.5s ease;

  &_opened {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s, visibility 0.5s ease;
    -moz-transition: opacity 0.5s;
  }

  &__container {
    margin: 0;
    padding: 30rem 50rem;
    // width: 700rem;
    min-height: 260rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10rem;
    position: relative;
    max-height: 90vh;

    opacity: 1;
    transition: opacity 1s, visibility 0.5s ease;

    &_img{
      justify-content: flex-start;
      overflow: auto;
    }
  }


  &__button_close {
    width: 20rem;
    height: 20rem;
    position: absolute;
    top: 15rem;
    right: 15rem;
    opacity: .4;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }

  }

}

@media screen and (max-width: 768px) {
  .popup {
    // align-items: flex-start;
    align-items: center;

    &__container {
      // margin: 300rem 60rem 0;
      margin: 0;
      padding: 30rem 70rem 15rem;
      min-height: 100rem;
      &_one {
        padding: 30rem 30rem 15rem;
      }

      &_img{
        margin: 30rem 60rem 0;
        padding: 25rem 25rem;
      }
    }

    &__button_close {
      width: 25rem;
      height: 25rem;
      top: 20rem;
      right: 20rem;
    }
  }
}